.App {
  text-align: center;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
  border: 1px solid green;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  outline: 1px solid purple;
}

body {
  background-color: lightgrey;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  outline: 1px solid green;
  margin-top: 2.5em;
  margin-bottom: 0;
}

/*link to navbar link style here: https://www.w3schools.com/css/css_link.asp*/
.link-button {
  background-color: lightgrey;
  border-radius: 10px;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* UserProfile composed of several components - User, TransactionList (which is composed with Transaction) and AddTransaction */

/* TransactionList styling */
.transaction-list {
  display: flex;
  flex-direction: column;
  outline: 1px solid green;
}

.transaction-row {
  outline: 1px solid green;
}

/* AddTransaction form styling */
.add-transaction {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 1px solid blue;
}

.user-heading {
  outline: 1px solid grey;
}

.add-transaction > ul > li {
  list-style: none;
}

/* everything below needs to be changed as html has changed */
#test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* stylings in between here and next comment are based off of https://webdesign.tutsplus.com/tutorials/building-responsive-forms-with-flexbox--cms-26767 */
.flex-outer li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em auto;
}

.flex-outer > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + * {
  flex: 1 0 220px;
}

.flex-outer > li > button {
  flex: 1 0 220px;
}
/* comment block end of website */

/* .transaction-label {
  float: left;
} */

.transaction-input {
  outline: auto;
}
/* everything above needs to be changed as html has changed */
