.App {
  border: 2px solid black;
  text-align: center;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}

.add-transaction {
  display: flex;
}

.transaction-list {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

/*link to navbar link style here: https://www.w3schools.com/css/css_link.asp*/
.link-button {
  background-color: lightgrey;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
